asyncpg~=0.30.0
aiogram~=3.20.0.post0
aiohttp~=3.11.18
dotenv~=0.9.9
python-dotenv~=1.1.0
fastapi~=0.115.12
uvicorn~=0.34.2
python-dateutil~=2.9.0.post0
starlette~=0.46.2
APScheduler~=3.11.0
SQLAlchemy~=2.0.44
psycopg2~=2.9.11
